/* Webfont: BreadDisplay-Bold */@font-face {
    font-family: 'Bread-DisplayBold';
    src: url('Bread Display Bold.woff2') format('woff2'), /* Modern Browsers */
         url('Bread Display Bold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

